* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display:block;
    display: flex;
    justify-content: space-between;
}
body {
    font-family: Arial, sans-serif;
}

section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
    
    .section {
        margin: 0 10px;
    }
#article {
    display: grid;
 grid-template-columns: 3fr 1fr;   
}

#aside {
    grid-template-columns: 3fr 1fr;
}

footer {
        display: flex;
}