/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
        display: flex;
        justify-content: space-between;
} 
body {
    font-family: Arial, sans-serif;
    margin: 20px 50px 20px 50px;
    height: 100vh; 
}

.flex-container {
    display: flex;                         
    justify-content: center;               
    align-items: center;                   
    height: 200px;             
    background-color: #f0f0f0;           
    margin: 20px 0;                        
}

.box {
    background-color: coral;               
    width: 20vw;                       
    height: 20vh;                         
    margin: 10px;                          
    display: flex;                        
    justify-content: center;           
    align-items: center;                    
    border-radius: 5px;                    
    font-size: 1.5em;                       
}
section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
    
    .section {
        margin: 0 10px;
    }
#article {
    display: grid;
 grid-template-columns: 3fr 1fr;
 margin: 20px;
}
#aside {
    grid-template-columns: 3fr 1fr;
    flex-direction: column;
    margin: 20px;
    gap:5px;
}
.hover-box {
    width: 100px;                    
    height: 100px;                   
    background-color: coral;        
    display: flex;                    
    justify-content: center;        
    align-items: center;             
    font-size: 1.5em;                
    border-radius: 5px;              
    transition: all 0.3s ease;       
}

.hover-box:hover {
    transform: scale(1.2) rotate(10deg); 
    background-color: lightblue;     
}
.gallery {
    display: flex; 
    justify-content: flex-start; 
    flex-wrap: wrap; 
    gap: 10px;

.gallery-item {
    flex: 1 0 150px; 
    max-width: 200px; 
}

.gallery-item img {
    width: 100%; 
    height: auto; 
    border-radius: 8px; 
}
.gallery-container {
    display: flex; 
    justify-content: flex-start; 
    flex-wrap: wrap; 
    gap: 10px; 
}
.aplikatsiooniikoonid {
    display: flex; 
    flex-wrap: wrap; 
    gap: 10px; 
}

.ikon-item {
    flex: 1 0 80px;
    max-width: 60px; 
}

.ikon-item img {
    width: 100%; 
    height: auto; 
    border-radius: 8px; 
}
.fixed-element {
    position: fixed; 
    bottom: 20px;    
    right: 20px;  
    z-index: 1000;   
}
footer {
        display: flex;
        position: fixed;
        bottom: 10px;
    left: 20px;
    width: 100%;
    padding: 10px;
    z-index: 1000;
} */